/* div.tasks-page-main {
   display: flex;
   /* position: absolute; */
   /* margin-top: 50px; */
   /* align-content: center; */
   

 table.task-list-table {
   justify-content: center;
   border-color: rgb(218, 218, 218);
   border-style: solid;
   border-width: 1px;
   margin-left: 250px;
   position: relative;
   top: 70px;
   padding: 2px;
   border-collapse: separate;
   border-spacing: 1px;
   font-size: 12pt;
 }

 tr.task-header-row {
    height: 40px;
    border-style: none;
   background: none;
 }

  
 /* Changes row color on hover */
 tr.task-list-table:hover {
   background-color: rgba(230, 233, 238, 0.982);
}

 .new-task-btn {
   display: flex;
   position: absolute;
   justify-content: center;
   margin-right: 0px;
   top: 100px;
   right: 0%;
   font-size: 30px;
 }

 .new-task-btn h4 {
    font-size: 18px;
 }

tr, th {
   border-style: solid;
   border-bottom: rgb(51, 84, 110);
   border-color: steelblue;
}

td {
   font-size: 10pt;
   padding-left: 3px;
   padding-right: 3px;
}

th {
   background-color: slategrey;
   color: white;
}

.task-form-container {
   margin-bottom: 10%;
}

td.task-data-row-bold {
   color: rgb(51, 84, 110);
   font-weight: 600;
   padding-left: 2px;
}
