div.customer-page-main {
   /* display: flex; */
   margin-right: 5%;
   margin-top: 5%;
}



table.customer-list-table {
   /* display: flexbox; */
   justify-content: center;
   border-color: rgb(218, 218, 218);
   border-style: solid;
   border-width: 1px;
   margin-left: 250px;
   position: relative;
   /* margin-right: 80px; */
   top: 70px;
   padding: 2px;
}

.new-customer-btn {
   display: flex;
   position: relative;
   margin-right: 10px;
   top: 50px;
   left: 85%;
}

tbody tr:nth-child(odd) {
   background: #eee;
 }

td.customer-list-table {
   font-size: 12pt;
   padding-left: 10px;
   padding-right: 3px;
}

tr.customer-header-row {
   height: 16px;
}

tr.customer-list-table {
   border-style: solid;
   border-bottom: rgb(65, 102, 133);
}

/* tr.customer-list-table:hover {
   background-color: rgba(204, 211, 221, 0.982);
} */


th.customer-header {
   background-color: rgb(137, 154, 172);
   color: white;
   border-right: solid;
}

th.customer-star {
   background-color: rgb(137, 154, 172);
   color: rgb(247, 240, 168);
}

td.customer-row-star {
   border-style: solid;
   border-right-style: solid;
   border-right-color: rgb(65, 102, 133);
   border-inline-end: rgb(65, 102, 133);
}



/* This blurs all other rows when hovering over selected row */

tr:last-of-type td {
   box-shadow: inset 0 -1px 0 #fff; 
 }
 
 tr:last-of-type td:first-child {
   box-shadow: inset 1px -1px 0 #fff;
 } 
 
 tr:last-of-type td:last-child {
   box-shadow: inset -1px -1px 0 #fff;
 } 
 
 tbody:hover td {
   color: transparent;
   text-shadow: 0 0 2px #aaa;
 }
 
 tbody:hover tr:hover td {
   color: #444;
   text-shadow: 0 2px 0 #fff;
 }



/* ********* NEW CUSTOMER FORM ********** */

.customer-form-container {
   margin-bottom: 10%;
}
