div.customer-page-main {
   display: flex;
   margin-right: 5%;
   margin-top: 5%;
}

tr.top-header {
   border-style: none;
   background: none;
}

.top-header {
   font-size: 11pt;
}

table.customer-filter {
   justify-content: center;
   border-color: rgb(218, 218, 218);
   border-style: solid;
   border-width: 0px;
   margin-left: 250px;
   position: relative;
   top: 70px;
   padding: 2px;
   border-collapse: separate;
   border-spacing: 1px;
   font-size: 11pt;
}

table.customer-list-table {
   justify-content: center;
   border-color: rgb(218, 218, 218);
   border-style: solid;
   border-width: 1px;
   margin-left: 250px;
   position: relative;
   top: 70px;
   padding: 2px;
   border-collapse: separate;
   border-spacing: 1px;
   font-size: 12pt;
}

.new-customer-btn {
   display: flex;
   position: fixed;
   justify-content: center;
   margin-right: 0px;
   top: 100px;
   right: 0%;
   font-size: 30px;
   color:rgb(51, 84, 110);
}




/* This makes every other row another color on table */
tbody tr:nth-child(odd) {
   background: rgb(242, 242, 242);
 }

 
 /* Changes row color on hover */
 tr.customer-list-table:hover {
    background-color: rgba(230, 233, 238, 0.982);
 }

td {
   font-size: 12pt;
   padding: 5px;
}

tr.customer-header-row {
   height: 40px;
}

tr.customer-list-table {
   border-style: solid;
   border-bottom: rgb(65, 102, 133);
   font-size: 14pt;
}



th.customer-header {
   background-color: rgb(137, 154, 172);
   color: white;
}

th.customer-star {
   background-color: rgb(137, 154, 172);
   color: rgb(247, 240, 168);
}

td.customer-row-star {
   border-style: solid;
   border-right-style: solid;
   border-right-color: rgb(65, 102, 133);
   border-inline-end: rgb(65, 102, 133);
}

td.customer-data-row {
   padding-left: 15px;
   font-size: 10pt;
}


td.customer-data-row-bold {
   color: rgb(51, 84, 110);
   font-weight: 600;
   padding-left: 15px;
   font-size: 10pt;
}

td.customer-data-row-company {
   color: rgb(51, 84, 110);
   font-weight: 400;
   padding-left: 15px;
   font-size: 10pt;
}

td.customer-data-row-email {
   color: rgb(67, 126, 171);
   font-weight: 400;
   padding-left: 15px;
   font-size: 10pt;
}

/* This blurs all other rows when hovering over selected row */

tr:last-of-type td {
   box-shadow: inset 0 -1px 0 #fff; 
 }
 
 tr:last-of-type td:first-child {
   box-shadow: inset 1px -1px 0 #fff;
 } 
 
 tr:last-of-type td:last-child {
   box-shadow: inset -1px -1px 0 #fff;
 } 
 
 tbody:hover td {
   color: transparent;
   text-shadow: 0 0 2px #aaa;
 }
 
 tbody:hover tr:hover td {
   color: #444;
   text-shadow: 0 2px 0 #fff;
 }



/* ********* NEW CUSTOMER FORM ********** */

.customer-form-container {
   margin-bottom: 10%;
   display: inline-block;
}




