.dashboard-header {
  text-align: center;
}

.dashboard-grid {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 2%;
  margin-top: 50px;
}


.text {
  font: large;
  columns: #fff;
}

.grid-1 {
  padding: 30px;
  justify-content: center;
  background-color: #eef2f5;
}

.grid-2 {
  padding: 30px;
  justify-content: center;
  background-color: #dee4e8;
}

.grid-3 {
  padding: 30px;
  justify-content: center;
  background-color: #eaeced;
}